.dashboard-card {
  position: relative;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
}

.dashboard-card:hover {
  transform: translateY(-5px);
}

.icon-wrapper {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.card-content {
  padding: 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-100 {
  flex: 0 0 100%;
  text-align: center;
}

.col-sm {
  flex: 0 0 100%;
}

.icon-circle {
  display: inline-block;
  width: 60px; /* Reduced size */
  height: 60px; /* Reduced size */
  line-height: 60px; /* Adjusted for smaller size */
  text-align: center;
  border-radius: 50%;
  background-color: #f0f0f0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a slight shadow */
}

.icon {
  font-size: 30px; /* Reduced size */
  color: #6EBE72;
}

.number {
  font-size: 20px; /* Reduced size */
  font-weight: bold;
  color: #333;
  padding-top: 5px; /* Adjusted padding */
}

.text {
  font-size: 14px; /* Reduced size */
  color: #666;
  padding-top: 3px; /* Adjusted padding */
}
